.cards {
  width: 70%;
  height: 100vh;
  /* display cards on grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: auto;
  /* animation */
  perspective: 70vh;
}

.card {
background-color: gainsboro;
border-radius: 1em;
/* center item */
display: flex;
align-items: center;
justify-content: center;
padding: 1em;
/* animation */
transform-style: preserve-3d;
transition: transform 0.5s;
}

img {
max-width: 100%;
max-height: 100%;
}

.front{
display: block;
}

.back {
display: none;
}

.show{
  display: block;
}

.hide {
  display: none;
}

.flip {
  transform: rotateY(180deg);
}

